<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://www.kde.org/applications/office/kontact/" target="_blank"><img src="images/kde-pim-logo.png"/></a> KDE PIM Sprint
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The first week of April is now traditionally reserved for the spring KDE PIM sprint. The 2016 sprint once again took place in Toulouse, France. A big thank-you is owed to the <a href="https://www.ekito.fr/" target="_blank">Ekito office</a> that hosted us, and to all the participants - Franck Arrecot, Andre Heinecke, Sandro Knauß, Volker Krause, John Layt, Christian Mollekopf, Laurent Montel, Kevin Ottens, and Daniel Vrátil - who made this sprint an awesome experience. The general theme of the sprint was stability improvements. We worked on reducing library dependencies, designing a way to reach a better internal architecture, cleaning up the codebase, and improving communication about the release process.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>John is working on a replacement for the features in KDateTime that are not yet covered by Qt, which would eventually allow the remaining uses of KDELibs4Support code to be removed.We succeeded in making KAddressBook run entirely without loading KDELibs4Support. Daniel worked with our awesome sysadmins on fixing an issue in the new CI that negatively impacted the unit tests of KDE PIM and some other projects. He also redesigned Akonadi's notification system, which makes it possible to introduce cool features like starting and stopping Akonadi agents on-demand. Laurent's work on QtWebEngine support will allow us to eliminate the unsupported QtWebkit from PIM.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/kde-pim.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDE PIM Sprint</h3>
                                    <p>Your Happy KDE PIM Team</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/kde-pim.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Sandro and Christian started working on email rendering in QML instead of plain HTML, which will enable direct interaction with the mail via QML Elements buttons and provide a cleaner user-feedback loop. Sandro cleaned up and refactored MimeTreeParser, and looked into ways to reduce its dependencies. Christian presented two new open source projects by Kolab - Kube (a groupware client) and Sink (a data-access layer). We talked about their functionality, the issues the projects are facing, and their potential integration with KDE PIM once they reach a more mature phase. Andre took a dive into our crypto libraries and moved some generic non-GUI code from libkleo into QGpgMe. He also prepared the QGpgMe library for upstream migration to GpgMe, and discussed how to make QGpgMe API easier to use with more informative error messages. The Zanshin team - Kevin and Franck - prepared the 0.4 release and designed a roadmap for the next one. They shared their experience with architectural work and experimentation on Zanshin, which lead us to apply some of its principles to PIM - a process we called "zanshinification".</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>More specifically, we worked on removing the remaining uses of KDELibs4Support from PIM, improving Akonadi performance, developing support for QtWebEngine within PIM, and representing emails in QML. We also looked at some new projects - Kube, Sink, Zanshin - and brainstormed ways in which they could be implemented into the PIM Suite. With John Layt in attendance, we took the opportunity to discuss the remaining uses of KDELibs4Support. Most remaining uses of KCalendarSystem and KLocale could be ported, and the use of KTimeZone was largely contained to KCalCore implementation details.</p>
            </div>
        </div>
        <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-info">
                <p>We discussed how the Zanshin onion architecture would fit the KDE PIM codebase and laid down a step-by-step plan, paying special attention to performance. We believe this architectural change can bring more stability and readability to the codebase, and it might help us attract new contributors. Release cycles and version numbers were another big topic at the sprint. Sandro identified several ways in which version management of different PIM subprojects can be made smoother. The main idea is to make sure everyone - including the packagers - is aware of upcoming releases and changes to the dependency set.</p>
            </div>
        </div>
    </div>
</div>
<br/>
