<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://conf.kde.in/" target="_blank"><img src="images/logo-kde-india.png"/> conf.kde.in 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>KDE India's annual meetup, <a href="https://conf.kde.in/" target="_blank">conf.kde.in</a> reached new territories in 2017. It was conducted in the North-Eastern Indian state of <a href="https://en.wikipedia.org/wiki/Assam" target="_blank">Assam</a> at the <a href="http://www.iitg.ac.in/" target="_blank">Indian Institute of Technology, Guwahati</a>, a place we had never been before. While this was a challenge both logistically and geographically, the support from community members and local volunteers made the event a success. The traditional three-day event happened over a weekend from 10th to the 12th of March, 2017. The delegates at the event ranged from seasoned contributors to new and budding student, passing through regular contributors to KDE software. The delegates were not strictly limited to just KDE contributors, something that highlights the inclusive nature of the conference. Regardless of their background, everybody was welcomed by an excited group of students, some of whom were already versed with software development practices while others were just starting out contributing to free software. There were close to 150-200 students who registered and attended the event.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
		    <p>Srijan Agarwal spoke about how WikiToLearn helped bring Academia to the Internet era while simultaneously highlighting opportunities for contributing to content and software. The day wrapped up with Pradeepto Bhattacharya, the founding member of KDE-India. He spoke about his long journey in contributing to KDE software, his experiences in the community, and how it has shaped his career. An energetic talk that took a trip down the memory lane. A fitting closure to an active first day. The second day had exciting talks lined up. Sinny started demonstrating the various KDE applications she uses daily for both work and leisure. Shantanu displayed efficient ways of debugging QtQuick applications and introducing applications like GammaRay in the process. After this, the head of the Assam state, e-Gov mission team, Mukunda Madhab Puzari, made a guest appearance and took the time to deliver a quick talk on adoption of open source projects and free software practices in the government.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>This year's keynote was delivered by long-time KDE contributor and member of <a href="https://ev.kde.org/workinggroups/cwg.php" target="_blank">KDE's CWG</a> (Community Working Group), Valorie Zimmerman. Valorie spoke broadly about the power of free software and how the capabilities of free software projects were a superpower that we all possessed. This enlightening talk kicked off proceedings on a high note and was followed by Pradeepto and Shantanu introducing KDE/Qt software and tools, and demonstrated what software development with these projects looks like. Even lunch time on day 1 was busy, with lots of participants flocking to meet the speakers and keen on sharing their work and ideas. Everyone left the lunch hall with gleaming smiles of satisfaction, having their questions been answered and because they enjoyed some sumptuous local cuisine. Talks resumed with Bhushan Shah, one of the organizational administrators for student programs at KDE, who shared his own journey into KDE and pointing out different opportunities that KDE offered.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/confkdein1.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>conf.kde.in 2017</h3>
                                    <p>Bringing new perspectives</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/confkdein1.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/confkdein2.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>conf.kde.in 2017</h3>
                                    <p>Sinny Kumari's talk</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/confkdein2.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Wrishiraj Kaushik spoke about the Journey of SuperX and how it has found KDE software valuable. A delicious lunch was followed by a few more student talks with Divyam and Aniketh detailing their baby steps in the KDE land. Divyam spoke about his experience with <a href="http://gcompris.net/index-en.html" target="_blank">GCompris</a>, Aniketh delivered a talk on "Object tracking using OpenCV and Qt". Garvit Khatri demoed how Python and C++ can be used in integrated projects, talking in particular about CPython. Post-lunch sessions included Tony Thomas' talk on why students should consider participating in programs like the <a href="https://summerofcode.withgoogle.com/" target="_blank">Google Summer of Code</a>. Tony realted his experiences as an organization admin at the <a href="https://wikimediafoundation.org/wiki/Home" target="_blank">WikiMedia foundation</a>. The final day was dedicated entirely to conducting hands-on workshops and everyone came in with their own laptops, some with fresh KDE Plasma installations on them. Ashish Madeti delivered an introduction to using version control with Git and the whole team then set about helping the participants build their first QtQuick applications. The response was overwhelming and students liked how easy it was to create simple applications with UIs using Qt/QtQuick.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
		    <p>These included the various student programs as well as developer sprints. Following this, Harish delivered a talk in which he demonstrated how KDE projects are built and what role a build system plays. He spoke in detail about various tidbits of CMake and touched upon some CMake internals. He explained, for example, how the find_package() call works and what different modes it functions in.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Finally, there was a comprehensive question and answer session with the participants and students, a session that flagged the culmination of what had been three immensely gratifying days. We enjoyed the interaction between the delegates and participants, spread awareness of the importance of free software practices, and demonstrated the endless possibilities of using KDE. All, while contributing to KDE software and the wider community.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
